body{
    background-image: url('../asset/backgorund-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card {
    width: 600px;
    padding: 30px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.email label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.email input, .password input{
    border: 2px solid black;
}

.password label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.remember{
    color: white;
    font-weight: bold;
}

.card button{
    background-color: green;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 15px;
}